body {

  background-color: #1A1B41;
  font-family: 'Barlow', sans-serif; 
}

a{
  text-decoration: none;
  color: white;
}

table, th, td {
  border:2px solid black;
  border-color: #98D7C0;
  color: white;
  padding: 5px;
}


h2 {
  color: white;
  margin-bottom: -10px;
}

h3 {
  color: #98D7C0;
  font-size: 120px;
  margin-bottom: -30px;
  margin-top: -20px;
}


h4 {
  color: white;
  margin-bottom: -10px;
}

p{
  color: white;
  font-size: 20px;
}