body {

  background-color: #C98686;
  font-family: 'Barlow', sans-serif; 
}

table, th, td {
  border:2px solid black;
  border-color: #4E5166;
  color: white;
  padding: 5px;
}

h1 {
  color: #4E5166;
  font-size: 150px;
  margin-bottom: -20px;
  margin-top: -20px;
}

h3 {
  color: white;
  margin-bottom: -10px;
}