/* Reset and General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: Courier New, monospace;
  color: #f2f2f2;
}

/* Links */
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #FF5F15;
}

/* Header Styles */
header {
  background-color: #000000;
  padding: 4px 30px;
  display: flex;
  align-items: left;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

nav ul li {
  margin-right: 20px;
}

/* Main Page Image Grid */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.column {
  flex: 20%;
  max-width: 20%;
  padding: 14px;
}

.column img, .column video {
  width: 100%;
  height: auto;
  margin-top: 12px;
}

/* Captions */
.caption {
  font-size: 8pt;
  margin-top: 4px;
}

/* Project Page Layout */
.project-page {
  padding: 52px;
}

.project-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
}

.project-description {
  font-size: 16px;
  line-height: 1.5;
  width: 50%;
  margin-bottom: 30px;
  text-align: left;
}

.image.full-width img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.image-row img, .image-row video {
  width: 48%;
  height: auto;
}

/* Responsive Layout */
@media only screen and (max-width: 600px) {
  .project-description {
    width: 100%;
  }

  .image-row {
    display: block;
  }

  .image-row img, .image-row video {
    width: 100%;
    margin-bottom: 20px;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }
