/* General Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    color: #02322F;
    line-height:16pt;
    background: #FAFAFA;
}

/* Links */
a {
  text-decoration: none;
  color: #02322F;
}

a:hover {
  color: #EAB9B3;
}


/* Sidebar */
.sidebar {
    background: #02322F;
    color: #EAB9B3;
    width: 450px;
    padding: 30px;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar nav {
    margin-top: 20px;
}

.sidebar a {
    display: block;
    color: #EAB9B3;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar a:hover {
     color: #FFFFFF;
}


/* Main Page Image Grid */
.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 10px; /* Spacing between columns */
    padding: 10px;
    width: 100%; /* Full width of the remaining space */
    box-sizing: border-box;
}

/* Column Styling */
.column {
    padding: 10px;
}

.column img, .column video {
    width: 100%;
    height: auto;
    margin-top: 16px;
}


/* Image Modal (Lightbox) */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}

.image-container img {
    cursor: pointer;
}



/* Media Queries for Mobile */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        width: 100vw;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .sidebar img {
        max-width: 150px; /* Adjust size as needed */
        height: auto; /* Maintain aspect ratio */
    }

    .sidebar h1 {
        margin: 0;
        font-size: 1.2em;
    }

    .sidebar nav {
        display: flex;
        gap: 10px;
    }

    .sidebar a {
        font-size: 0.85em;
        white-space: nowrap;
    }

    .row {
        display: block; /* Switch to block layout for mobile */
        padding: 10px;
    }

    .column {
        width: 100%; /* Each item takes up full width on mobile */
        padding: 10px 20px; /* Adds spacing to prevent text from touching edges */
        box-sizing: border-box;
    }

    .column img, .column video {
        width: 100%; /* Ensure full width for images/videos */
    }



