/* Reset and general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  font-family: Courier New, monospace;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #FF5F15;
}

/* Header styles */
header {
  background-color: #000000;
  color: #ffffff;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom:-20px;
  margin-top:8px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

nav ul li {
  margin-right: 20px;
}


/* INTRO */

.intro-text {
  size: 100pt;
}


/* Main page image grid */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 8px;
}

.column img {
  margin-top: 12px;
  width: 100%;
  height: auto;
}

/* About me page - Image grid styles */
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 35px;

}

.image-grid p {
  font-size: 14px;
  line-height: 20px;
}

.image-grid p2 {
  font-size: 28px;
  line-height: 32px;
}

.image {
  overflow: hidden;
}

.image img {
  width: 100%;
  height: auto;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr;
    margin: 35px;
    }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end; /* Keep the items aligned to the right */
    margin: 0 30px; /* Match the left margin of the header */
  }

  nav ul li {
    margin: 10px 0;
  }
}

/* Project Page Layout */
.project-page {
  padding: 30px;
}

/* Project Title */
.project-page h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: left;
}

/* Project Description */
.project-description {
  font-size: 16px;
  line-height: 1.5;
  width: 50%; /* Restrict to half the width of the page */
  margin-bottom: 30px;
  text-align: left;
}

/* Full-Width Image */
.image.full-width img {
  width: 100%; /* Spans the full width minus padding */
  height: auto;
  margin-bottom: 30px;
}

/* Side-by-Side Images */
.image-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between images */
  margin-bottom: 30px;
}

.image-row img {
  width: 48%; /* Side-by-side images occupy roughly half the width each */
  height: auto;
}

/* Responsive Layout for Small Screens */
@media only screen and (max-width: 600px) {
  .project-description {
    width: 100%; /* Make the description span full width on smaller screens */
  }

  .image-row {
    display: block; /* Stack images vertically */
  }

  .image-row img {
    width: 100%; /* Full width for stacked images */
    margin-bottom: 20px;
  }
}


footer {
  padding: 4px;
  display: flex;
  align-items: left;
  margin-left: 30px;
  margin-bottom:40px;
}